.fbrecord-init.fbrecord-read {
	background-color: #ddf;
}

.fbrecord-init.fbrecord-folded {
	overflow: hidden;
	max-height: 1em;
}

.fbrecord-init.fbrecord-folded:hover {
	max-height: 99999px;
}

.fbrecord-init.fbrecord-folded .fbrecord-folded-moveup {
	margin-top: -3em;
}

.fbrecord-init.fbrecord-folded:hover .fbrecord-folded-moveup {
	margin-top: inherit;
}
